
.card{
	margin-top: 10%;
	margin-bottom: 1px;
    height: 160px;
    border-radius: 3%;
    border-color:rgb(207, 196, 175);
	
}
.card-details{
    flex: 1;
    text-align: center;
    display: flex;
}
.card-details a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color:darkolivegreen;
}