:host {
    display: block;
    background: linear-gradient(90deg,#112f35,#0c3c3f);

}
.faq-page-wrap{
	min-height: 500px;
	padding: 40px;
}

.faq-page-wrap h2{
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
	color: white;
}
.faq-page-wrap .thumb-wrapper{
	width: 100%;
	margin: auto;
	padding: auto;
	margin-bottom: 100px;
}

.search-button{
	border:none;
	background-color: #0b0c0c;
}

.search-button:hover{
	background-color:#0064d2 ;
}

.search-button svg{
	width: 35px;
	height: 40px;
	margin: 2px;
	fill: white;
}
.form-inline{
	justify-content: center;
	padding: 70px;
}


.form-control{
	width: 500px;
	height: 55px;
	border-color: black;
}
