.faq-category-wrap{
	min-height: 500px;
	padding-top: 15px;
}
 .faq-category-wrap .category{
	width: 100%;
	margin: auto;
	margin-bottom: 100px;
	/* background-color: #dbdfe3; */
	/* background-color: #ebf0f0; */
	/* border-radius: 12px; */
	/* border-right:2px solid #ccc; */
}    
.category ul{
	margin: 0;
    padding: 10px 0 ;
	/* border-top: 1px solid #334739;	 */
	list-style: none;    
}
.category > ul{
	border-right:2px solid #ccc;
}

.category li{
	margin: 0;
	padding-left: 2px;
	padding: 3% 0;
}

.cat-list-description{
	/* background-color: #ebf0f0; */
	border-radius: 12px;
	padding: 20px 30px;
}
.cat-list-description h4{
	margin-bottom: 16px;
}
.category ul ul.subCat{
	padding-left: 15px;
}
.category ul ul.subCat li{
	padding-left: 15px;
	padding: 1.5% 0;
}
.search-button{
	border:none;
	background-color: #0b0c0c;
}

.search-button:hover{
	background-color:#0064d2 ;
}

.search-button svg{
	width: 35px;
	height: 40px;
	margin: 2px;
	fill: white;
}
.form-inline{
	justify-content: center;
}
.form-control{
	width: 500px;
	height: 55px;
	border-color: black;
}
h5.question{
	margin-bottom: 10px;
	color: #a37219;
}
.answer{
	margin-bottom: 20px;
}
.card, .card-header{
	background-color: transparent;
    border: none;

}
.card-header button{
	padding: 0;
}
.card-header button:focus{
	box-shadow: none;
}
.card-body{
	padding:0 1.25rem;
}