/* You can add global styles to this file, and also import other style files */
/* faq-body {
    background-color: #191e22;
     color: white
    } */
 /* main{
background: linear-gradient(90deg,#112f35,#0c3c3f);
 }    */