<div class="service-container container">
    <div class=" left service-item-container  " id="Consulting business tools">
        <div>
            <h2>01</h2>
            <h6>Tools</h6>
        </div>
        <div class="service-content">
            <div>
                <h2>Consulting business tools</h2>
                <h4>Focus on your business and customers, less admin</h4>
                <div class="text-container ">
                    <div class="service-text-section">
                        <p class="service-paragraph">This is the consulting management tool box you need. Make sure you
                            focus on your customers and assignments while you are one step ahead when it comes to your
                            administration. The all-in-one toolbox includes the consultant tools you need: consultant
                            agreements templates (e-signing), time reporting, consultant invoicing and a dashboard of
                            your customers just like a CRM system.
                        </p>
                    </div>
                    <div class="service-text-section">
                        <p class="service-paragraph">Our story is simple. We are convinced that a new world economy
                            requires a new system to do, run and develop businesses. Whether the business is your own or
                            part of a large company. We connect businesses with companies and resources. End of story.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" left service-item-container  " id="Enterprise profile management">
        <div>
            <h2>02</h2>
            <h6>Match</h6>
        </div>
        <div class="service-content">
            <div>
                <h2>Enterprise profile management</h2>
                <h4>The right person matched to the right assignment, CV in time and under control. Build new networks.
                    KPIs</h4>
                <div class="text-container ">
                    <div class="service-text-section">
                        <p class="service-paragraph">"Quality and Time." That is the response we get when we ask our
                            clients about the most important factors when they hire consultants. And that is what our
                            platform secures for them, without bias and all digital. Find the competence and consultant
                            you need by system search and reviewing their profiles and availability. Our consultant CV
                            system support your CV languages you need, in your own template and easy to send to
                            customers. Keep track of all consultants assigments and occupancy, KPIs that support your
                            reporting, budget plans and sales work.
                        </p>
                    </div>
                    <div class="service-text-section">
                        <p class="service-paragraph">Many of our clients work in markets that change rapidly. That has
                            been very obvious lately. The need of finding critical competences and find them fast is
                            becoming a need to stay ahead of competition. Scan and connect with consultants online, view
                            their availability and relevant experiences. Connect and build to expand your businesses,
                            bizzcoo supports your journey. Keep track of your KPIs such as occupancy, trends and team
                            performance, our system gives you the control you need to manage your company. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>